<div class="container">
  <h1
    *ngIf="!countdownForm.title && !countdownForm.date"
    class="first-info-title"
  >
    Enter Event Name and Date to See How Many Days Until!
  </h1>
  <div class="countdownHeader">
    <h1 class="title" #titleElement appFitText>
      {{
        countdownForm.title ? 'Time to ' + camelCaseTitle : countdownForm.title
      }}
    </h1>
    <h1 class="date">
      {{
        isToday(countdownForm.date)
          ? ' 🎉🎉🎉🎉🎉🎉🎉🎉'
          : calculateTimeDifference(countdownForm.date)
      }}
    </h1>
    <span class="placeholder" *ngIf="!countdownForm.date"
      >No date selected yet. Please select date.</span
    >
  </div>
  

  <div class="form-fields">
    <mat-form-field appearance="outline" class="kkkk">
      <mat-label>Title</mat-label>
      <input
        matInput
        placeholder="Time to ..."
        [(ngModel)]="countdownForm.title"
        (keyup)="titleChange($event)"
      />
      <mat-icon matSuffix class="mat-icon-dark-grey">create</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline" class="kkkk">
      <mat-label>Date</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        [min]="todayDate"
        [(ngModel)]="countdownForm.date"
        readonly
        (dateChange)="startCountdown()"
        placeholder="Select date"
      />
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
</div>
