$countdownHeader-margin-small-screen: calc(6vh + 50px);
$countdownHeader-margin-large-screen: calc(2vh + 10px);
$common-font-family: 'Open Sauce One', sans-serif;
$common-display-flex: flex;
$common-width-100-percent: 100%;

@mixin countdownHeader-margin {
  margin-bottom: $countdownHeader-margin-large-screen;

  @media only screen and (max-width: 480px) {
    margin-bottom: $countdownHeader-margin-small-screen;
  }
}

.container {
  display: $common-display-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.countdownHeader {
  font-family: $common-font-family;
  font-size: fit-content;
  text-align: center;
  width: $common-width-100-percent;
  @include countdownHeader-margin;
}

.first-info-title{
  font-size: clamp(28px, 2vw, 200px);
  color: #c841af;
  margin: 0 20px;
  text-align: center;
}

.title {
  color: #72035d;
  width: 100%;
  font-weight: 800;
  white-space: nowrap;
  font-size: clamp(28px, 8vw, 100px);
}

.fit-inner {
  display: inline-block;
}
.date {
  width: 100%;
  font-weight: 400;
  line-height: 48px;
  font-size: clamp(32px, 9vw, 400px); 
  margin: 7% 0 4% 0;
}

.form-fields {
  display: $common-display-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: $common-width-100-percent;
  max-width: 800px;
  padding: 0 10px;
  margin: 30px;

  .kkkk {
    width: 48%;
    margin-bottom: 20px; 
  }

  @media only screen and (max-width: 480px) {
    .kkkk {
      width: 100%; 
      margin: 10px 50px;
    }
  }
}

.mat-form-field {
  width: 100%; 
  margin-bottom: 20px; 
}

.mat-icon-dark-grey {
  color: #707070;
}
